
html, body {
    background-color: #1c1427;
    font-family: 'Source Code Pro', monospace;
    color: #fff;
}


.title {
    margin: auto;
    width: 70%;
}

#title {
    font-size: 7.7vw;
    color: rgb(230, 101, 54);
    font-family: 'Black Han Sans', sans-serif;
}

#description {
    font-size: 3.3vw;
}

#code-life {
    color: #ccffbd;
}

#survey-form {
    background-color: #40394a;
    margin: auto;
    padding: 5vmin;
    width: 80%;
}        



@media (min-width: 800px) {
    #survey-form {
        background-color: #40394a;
        margin: auto;
        padding: 5vmin;
        width: 50%;
    }        
    .title {
        margin-left: 25vw;
        width: 40%;
    }
    #title {
        font-size: 4vw;
    }
    #description {
        font-size: 1.8vw;
    }    
}


.field {
    display: grid;
    grid-row-gap: 10px;
    margin-bottom: 5vh;
}

#submit {
    margin: auto;
    width: 100%;
    border-color: transparent;
    padding: 2vh 0;
    background-color: #6dac5a;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Source Code Pro', monospace;
    font-size: 4vh;
}

#submit:hover {
    background-color: #ccffbd;
}


input, textarea {
    background-color: #272c29;
    color: #7eca9c;
    padding: 10px;
    border-color: transparent;
    border-radius: 10px;
    font-size: 3vh;
}

input:placeholder-shown {
    color: #fff;
    font-family: 'Source Code Pro', monospace;
}

input:focus, textarea:focus {
    background-color: #1f1f20;
}

label {
    font-size: 3vh;
    color: rgb(218, 133, 30);
}

.label {
    color: darkkhaki;
}


.input-group {
    font-size: 3vh;
}

.optional {
    font-size: 1vw;
    color: darkgray;
}


/* Custom Dropdown menu by w3schools */

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: #4e7e61;
    border-radius: 10px;
  }
  .select-selected:hover {
      background-color: #80ca9e;
      color: black;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 11.5vh;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 10.5vh;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    border-radius: 10px;
    position: absolute;
    background-color: #355341;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }


